@import "settings";
@import "../bower_components/foundation/scss/foundation";

 body {
  font-family: "minion-pro", serif;
  padding-top: 70px;
}
.alt-font {
  font-family: "myriad-pro", sans-serif;
  font-style: normal;
  font-weight: 700;
}
.border {
  border-bottom: 2px solid $primary-color;
  line-height: 1em;
  display: inline-block;
}
/* Top Bar */
.top-bar { border-bottom: 1px solid rgba(50, 205, 50, 0.5); }
.top-bar .name h1 { font-weight: 700; font-size: $h2-font-size; }
.top-bar-section li:not(.has-form) a:not(.button) { padding: 10px 54px; }
.top-bar-section ul li > a { font-size: $h5-font-size; float: left;}
/* Off-Canvas */
.tab-bar { border-bottom: 1px solid rgba(50, 205, 50, 0.5); }
.tab-bar .left-small { border-right: none; }
.tab-bar .right-small { border-left: none; }
.tab-bar-section h1 { font-weight: 700; font-size: $h3-font-size; }
/* Main Section */
.main-section { margin-top: 72px; }
/* Footer Section */
.footer-section { margin-top: 100px; }