---
title: figtree digital agency
---

{% include header.html %}

<!-- MAIN SECTION -->
<section class="main-section">

  <!-- CONTENT SECTION -->
  <section class="full-width content-section">
    <div class="row">
      <div class="small-12 medium-12 large-12 columns">
        
        <!-- Project Container -->
        <div class="row">
          <div class="large-9 columns">
            <img src="http://placehold.it/720x440&text=Item">
            <h4>Item Title</h4>
          </div>
          <div class="large-3 columns">
            <img src="http://placehold.it/220x220&text=Item">
            <h4>Item Title</h4>
          </div>
        </div>
        
        <div class="row">
          <div class="large-3 columns">
            <img src="http://placehold.it/220x220&text=Item">
            <h4>Item Title</h4>
          </div>
          <div class="large-3 columns">
            <img src="http://placehold.it/220x220&text=Item">
            <h4>Item Title</h4>
          </div>
          <div class="large-6 columns">
            <img src="http://placehold.it/470x480&text=Item">
            <h4>Item Title</h4>
          </div>
        </div>
        
        <div class="row">
          <div class="large-8 columns">
            <img src="http://placehold.it/636x340&text=Item">
            <h4>Item Title</h4>
          </div>
          <div class="large-4 columns">
            <img src="http://placehold.it/304x340&text=Item">
            <h4>Item Title</h4>
          </div>
        </div>
      </div> <!-- END 12 COLUMNS -->
    </div> <!-- END ROW -->
  </section> <!-- END SECTION.CONTENT-SECTION -->

</section> <!-- END SECTION.MAIN-SECTION -->

{% include footer.html %}