<!-- CLOSE THE OFF-CANVAS MENU -->
<a class="exit-off-canvas"></a>

<!-- FOOTER SECTION -->
<footer>

  <div class="footer-section row">

    <div class="small-12 medium-3 show-for-medium-up columns">
      <h4 class="logo-font"><img src="/a/i/logo.svg" alt="&#64257;gtree"></h4>
    </div>

    <div class="small-12 medium-3 show-for-medium-up columns">
      <h5 class="contact-info">Social</h5>
      <ul class="no-bullet">
        {% if site.behance %}
        <li>
          <p><a href="https://behance.com/{{ site.behance }}">behance</a></p>
        </li>
        {% endif %}
        {% if site.linkedin %}
        <li>
          <p><a href="https://linkedin.com/{{ site.linkedin }}">linkedin</a></p>
        </li>
        {% endif %}
        {% if site.twitter %}
        <li>
          <p><a href="https://twitter.com/{{ site.twitter }}">twitter</a></p>
        </li>
        {% endif %}
      </ul>
    </div>

    <div class="small-12 medium-3 show-for-medium-up columns">
      <h5 class="contact-info">Phone</h5>
      <p>+1(123)456-7890</p>
      <h5 class="contact-info">Email</h5>
      <p><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
    </div>

    <div class="small-12 medium-3 columns">
      <p>&copy; 2014</p>
    </div>

  </div> <!-- END ROW -->
</footer> <!-- END FOOTER -->
</div>
</div> <!-- END OFF CANVAS -->


<!-- SCRIPTS -->
<script src="{{ "/bower_components/jquery/dist/jquery.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/bower_components/foundation/js/foundation.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/a/j/app.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $(".animsition").animsition();
  }); 
</script>