<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- TITLE -->
  <title>{{ page.title }}</title>
  <!-- STYLESHEETS -->
  <link rel="stylesheet" href="{{ "/a/c/app.css" | prepend: site.baseurl }}" />
  <link rel="stylesheet" href="{{ "/a/c/elusive.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/bower_components/animsition/dist/css/animsition.min.css" | prepend: site.baseurl }}">
  <!--[if IE 7]><link rel="stylesheet" href=""{{ "/a/c/elusive-ie7.css" | prepend: site.baseurl }}"><![endif]-->
  <!-- JAVASCIPTS -->
  <script src="{{ "/bower_components/modernizr/modernizr.js" | prepend: site.baseurl }}"></script>
  <script type="text/javascript" src="http://fast.fonts.net/jsapi/051f4bee-8732-464c-a1bf-ca7fec146d36.js"></script>
  <script src="//use.typekit.net/klo2jmh.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
</head>