<div class="pagination icon-bar large-vertical three-up">
  {% if page.next.url %}
  <a href="{{ site.baseurl }}{{ page.next.url }}" aria-label="Next" class="item">
    <i class="icon-previous"></i>
  </a>
  {% else %}
  <a class="item disabled">
    <i class="icon-previous"></i>
  </a>
  {% endif %}
  {% if page.previous.url %}
  <a href="{{ site.baseurl }}{{ page.previous.url }}" aria-label="Previous" class="item">
    <i class="icon-next"></i>
  </a>
  {% endif %}
  <a href="{{ site.url }}" aria-label="Portfolio" class="item">
    <i class="icon-portfolio"></i>
  </a>
</div>